<div class="page-wrapper">

  <!-- SIDEBAR -->
  
  <!-- SIDEBAR -->
   <app-sidebar-component></app-sidebar-component>

  <!-- MAIN -->
  <main class="main-content" *ngIf="!isLoading && event">

    <!-- Back Button -->
    <button class="back-btn" (click)="goBack()">← Înapoi la evenimente</button>

    <!-- HERO -->
    <section class="hero-section">
      <div class="hero-cover" [style.background]="'linear-gradient(135deg, ' + getCoverColor(event.category  || 'unknown') + ')'">
        <span class="hero-emoji">{{ getCategoryEmoji(event.category  || 'unknown') }}</span>
        <div class="hero-overlay"></div>
      </div>

      <div class="hero-content">
        <div class="hero-left">
          <span class="hero-badge">{{ event.category }}</span>
          <h1>{{ event.title }}</h1>
          <p class="hero-description">{{ event.description }}</p>

          <div class="hero-meta">
            <div class="meta-item">
              <div class="meta-icon">📅</div>
              <div>
                <small>DATA ÎNCEPUT</small>
                <strong>{{ formatDate(event.start_datetime) }}</strong>
              </div>
            </div>
            <div class="meta-item">
              <div class="meta-icon">📍</div>
              <div>
                <small>LOCAȚIE</small>
                <strong>{{ event.location }}</strong>
              </div>
            </div>
            <div class="meta-item">
              <div class="meta-icon">⏰</div>
              <div>
                <small>TERMEN ÎNREGISTRARE</small>
                <strong>{{ formatDate(event.registration_deadline!) }}</strong>
              </div>
            </div>
            <div class="meta-item">
              <div class="meta-icon">👥</div>
              <div>
                <small>MAX PARTICIPANȚI</small>
                <strong>{{ event.max_participants }}</strong>
              </div>
            </div>
          </div>
        </div>

        <!-- CTA Card -->
        <div class="cta-card">
          <h3>Înscrie-te acum!</h3>
          <p>Locuri limitate disponibile. Grăbește-te!</p>

          <div class="registered-count">
            <div class="avatars">
              <div class="avatar">S</div>
              <div class="avatar">M</div>
              <div class="avatar">A</div>
            </div>
          <span>
            +{{ (event.max_participants ?? 0) - 23 }} înregistrați
          </span>
          </div>

          <div class="tags-row">
            <span class="tag tag-mode">{{ event.participation_mode }}</span>
            <span class="tag" [ngClass]="getEntryTypeClass(event.entry_type)">
              {{ getEntryTypeLabel(event.entry_type) }}
            </span>
            <span class="tag tag-faculty">{{ event.faculty }}</span>
            <span class="tag tag-open" *ngIf="event.status === 'active'">Deschis</span>
          </div>

         <button
            class="btn-register-main"
            (click)="register()"
            [disabled]="isRegistered"
            [class.registered]="isRegistered"
          >
            {{ isRegistered ? 'Deja înscris' : 'Înregistrează-te' }}
          </button>
          <button class="btn-registered" *ngIf="isRegistered" disabled>
            Înregistrat cu succes!
          </button>
          <button class="btn-calendar">📆 Adaugă în calendar</button>
        </div>
      </div>
    </section>

    <!-- CONTENT -->
    <section class="content-section">
      <div class="content-left">

        <!-- Materials -->
        <div class="section-block">
          <div class="section-title">
            <h2>📁 Materiale</h2>
            <span>{{ materials.length }} fișiere disponibile</span>
          </div>
          <div class="materials-grid">
            <div class="material-card" *ngFor="let material of materials">
              <div class="material-icon">{{ getFileIcon(material.file_type!) }}</div>
              <div class="material-info">
                <strong>{{ material.file_name }}</strong>
                <small>{{ getFileSize(material.file_size_kb!) }}</small>
              </div>
              <button class="btn-download">⬇️</button>
            </div>
          </div>
        </div>

        <!-- Sponsors -->
        <div class="section-block">
          <h2>🤝 Parteneri & Sponsori</h2>
          <div class="sponsors-grid">
            <div class="sponsor-card" *ngFor="let sponsor of sponsors">
              <div class="sponsor-logo">{{ sponsor.name[0] }}</div>
              <span>{{ sponsor.name }}</span>
            </div>
          </div>
        </div>
        <!-- buton vizibil doar dacă e înregistrat și event-ul are QR -->
        <button
          class="btn-qr"
          *ngIf="isRegistered && event?.entry_type === 'qr_code'"
          (click)="openMyQr()"
          [disabled]="isLoadingQr"
        >
          {{ isLoadingQr ? 'Se încarcă...' : '🎫 Vezi QR-ul meu' }}
        </button>

        <!-- Modal QR -->
        <div class="qr-container">
          <!-- MODAL QR -->
          <div class="qr-modal-overlay" *ngIf="showQrModal" (click)="closeQrModal()">
            <div class="qr-modal" (click)="$event.stopPropagation()">
              <h3>🎫 Biletul tău</h3>
              <p>Prezintă acest cod la intrare</p>

              <img [src]="qrCodeImage" alt="QR Code" />

              <small class="token">{{ qrToken }}</small>

              <button class="close-btn" (click)="closeQrModal()">Închide</button>
            </div>
          </div>
          <!-- VERIFICARE -->
          <div class="verify-card">
            <h3>🔍 Verificare bilet</h3>

            <input 
              [(ngModel)]="manualToken" 
              placeholder="Introdu token QR"
              class="token-input"
            />

            <button class="verify-btn" (click)="verifyManual(event.id)">
              Verifică manual
            </button>

            <button class="scan-btn" (click)="startScanner(event.id)">
              📷 Scanează QR
            </button>

            <div id="qr-reader"></div>

            <p *ngIf="scanResult" 
              [ngClass]="{'success': scanResult.includes('✅'), 'error': scanResult.includes('❌')}">
              {{ scanResult }}
            </p>

          </div>

        </div>
      </div>

      <!-- Feedback -->
      <div class="content-right">
        <div class="section-block">
          <div class="section-title">
            <h2>⭐ Feedback</h2>
            <div class="rating-avg">
              <span class="star-filled">★</span>
              <strong>{{ getAverageRating() }}</strong>
            </div>
          </div>

          <!-- Feedback List -->
          <div class="feedback-list">
            <div class="feedback-card" *ngFor="let feedback of feedbacks">
              <div class="feedback-header">
                <div class="feedback-avatar">U</div>
                <div>
                  <strong>Student USV</strong>
                  <div class="stars">
                    <span *ngFor="let star of getStars(feedback.rating)"
                      [class.filled]="star <= feedback.rating">★</span>
                  </div>
                </div>
              </div>
              <p class="feedback-comment">{{ feedback.comment }}</p>
            </div>
          </div>

          <!-- Add Feedback -->
          <div class="add-feedback">
            <h4>Lasă feedback-ul tău</h4>
            <div class="star-picker">
              <span *ngFor="let star of getStars(5)"
                [class.active]="star <= (hoverRating || selectedRating)"
                (mouseenter)="hoverRating = star"
                (mouseleave)="hoverRating = 0"
                (click)="selectedRating = star">★</span>
            </div>
            <textarea
              [(ngModel)]="newComment"
              placeholder="Scrie părerea ta despre eveniment..."
              rows="3"
            ></textarea>
            <button class="btn-submit-feedback" (click)="submitFeedback()">
              Trimite feedback
            </button>
          </div>

        </div>
      </div>
    </section>

  </main>

  <!-- Loading -->
  <div class="loading-screen" *ngIf="isLoading">
    <div class="spinner"></div>
    <p>Se încarcă evenimentul...</p>
  </div>

</div>

